* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: var(--white);
}

body {
  font-family: var(--ff-roboto);
  background-color: var(--background);
}

.main-container {
  display: grid;
  align-items: center;
  place-content: center;
  width: 100%;
  height: 100vh;
}

.main-container header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container header img {
  width: 16rem;
  margin-bottom: 2.4rem;
  padding: 0.7rem 3.2rem;
  border-radius: 2.4rem;
  border: 1px solid var(--gray-dark);
  background-color: var(--background-light);
}

.main-container h1 {
  font-family: var(--ff-titillium);
  font-size: 4rem;
  font-weight: 700;
  color: var(--red-primary);
  margin-bottom: 6rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  margin-bottom: 1.2rem;
}

.input-form input {
  width: 45.7rem;
  height: 4.7rem;
  padding: 0 1.6rem;
  border: 0;
  border-radius: 0.6rem;
  background-color: var(--background-dark);
  outline: 1px solid var(--gray-dark);
  transition: outline 0.2s;
}

.input-form input:focus {
  outline: 1px solid var(--outline);
}

.input-submit button {
  width: 4.7rem;
  height: 4.7rem;
  border: 0;
  border-radius: 0.6rem;
  background-color: var(--red-seconday);
  transition: background 0.2s;
  cursor: pointer;
}

.input-submit button:hover {
  background-color: var(--red-primary-hover);
}

.input-submit button.disabled {
  background-color: var(--gray-dark);
  cursor: not-allowed;
}

.input-submit button i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}

.error {
  font-size: 1.2rem;
  color: var(--red-primary);
  animation: shake 0.2s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-0.7rem);
  }

  50% {
    transform: translateX(0.7rem);
  }

  75% {
    transform: translateX(-0.7rem);
  }

  100% {
    transform: translateX(0);
  }
}

.summary h2 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 5.2rem;
  margin-bottom: 1.7rem;
}

.summary p.placeholder {
  color: var(--gray);
  user-select: none;
  margin-bottom: 3.2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: .7rem;
  height: .7rem;
  background: transparent;
  border-radius: 100%;
  box-shadow: #f86 -1.4rem -1.4rem 0 .7rem, #fc6 1.4rem -1.4rem 0 .7rem, #6d7 1.4rem 1.4rem 0 .7rem, #4ae -1.4rem 1.4rem 0 .7rem;
  animation: loading 5s infinite ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes loading {
  0% {
    box-shadow: white 0 0 15px 0, #f86 -1.4rem -1.4rem 0 .7rem, #fc6 1.4rem -1.4rem 0 .7rem, #6d7 1.4rem 1.4rem 0 .7rem, #4ae -1.4rem 1.4rem 0 .7rem;
  }

  8.33% {
    box-shadow: white 0 0 15px 0, #f86 1.4rem -1.4rem 0 .7rem, #fc6 1.4rem -1.4rem 0 .7rem, #6d7 1.4rem 1.4rem 0 .7rem, #4ae -1.4rem 1.4rem 0 .7rem;
  }

  16.67% {
    box-shadow: white 0 0 15px 0, #f86 1.4rem 1.4rem 0 .7rem, #fc6 1.4rem 1.4rem 0 .7rem, #6d7 1.4rem 1.4rem 0 .7rem, #4ae -1.4rem 1.4rem 0 .7rem;
  }

  25% {
    box-shadow: white 0 0 15px 0, #f86 -1.4rem 1.4rem 0 .7rem, #fc6 -1.4rem 1.4rem 0 .7rem, #6d7 -1.4rem 1.4rem 0 .7rem, #4ae -1.4rem 1.4rem 0 .7rem;
  }

  33.33% {
    box-shadow: white 0 0 15px 0, #f86 -1.4rem -1.4rem 0 .7rem, #fc6 -1.4rem 1.4rem 0 .7rem, #6d7 -1.4rem -1.4rem 0 .7rem, #4ae -1.4rem -1.4rem 0 .7rem;
  }

  41.67% {
    box-shadow: white 0 0 15px 0, #f86 1.4rem -1.4rem 0 .7rem, #fc6 -1.4rem 1.4rem 0 .7rem, #6d7 -1.4rem -1.4rem 0 .7rem, #4ae 1.4rem -1.4rem 0 .7rem;
  }

  50% {
    box-shadow: white 0 0 15px 0, #f86 1.4rem 1.4rem 0 .7rem, #fc6 -1.4rem 1.4rem 0 .7rem, #6d7 -1.4rem -1.4rem 0 .7rem, #4ae 1.4rem -1.4rem 0 .7rem;
  }

  58.33% {
    box-shadow: white 0 0 15px 0, #f86 -1.4rem 1.4rem 0 .7rem, #fc6 -1.4rem 1.4rem 0 .7rem, #6d7 -1.4rem -1.4rem 0 .7rem, #4ae 1.4rem -1.4rem 0 .7rem;
  }

  66.67% {
    box-shadow: white 0 0 15px 0, #f86 -1.4rem -1.4rem 0 .7rem, #fc6 -1.4rem -1.4rem 0 .7rem, #6d7 -1.4rem -1.4rem 0 .7rem, #4ae 1.4rem -1.4rem 0 .7rem;
  }

  75% {
    box-shadow: white 0 0 15px 0, #f86 1.4rem -1.4rem 0 .7rem, #fc6 1.4rem -1.4rem 0 .7rem, #6d7 1.4rem -1.4rem 0 .7rem, #4ae 1.4rem -1.4rem 0 .7rem;
  }

  83.33% {
    box-shadow: white 0 0 15px 0, #f86 1.4rem 1.4rem 0 .7rem, #fc6 1.4rem -1.4rem 0 .7rem, #6d7 1.4rem 1.4rem 0 .7rem, #4ae 1.4rem 1.4rem 0 .7rem;
  }

  91.67% {
    box-shadow: white 0 0 15px 0, #f86 -1.4rem -1.4rem 0 .7rem, #fc6 1.4rem -1.4rem 0 .7rem, #6d7 1.4rem 1.4rem 0 .7rem, #4ae -1.4rem 1.4rem 0 .7rem;
  }
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .main-container {
    padding: 0 2.4rem;
  }

  .main-container header img {
    width: 14rem;
  }

  .main-container h1 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }

  .input-form input,
  .input-submit button {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .main-container {
    padding: 0 1.6rem;
  }

  .main-container header img {
    width: 12rem;
  }

  .main-container h1 {
    font-size: 2.4rem;
    margin-bottom: 3.2rem;
  }

  main form {
    flex-direction: column;
    gap: 2.4rem;
  }
}